<div class="intro-message">
        <h3>Add Items</h3>
        <div class="list-group">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body fix-height">
                        <form ng-submit="addNew()">
                            <p style="color:green;">{{addItemMsg}}</p>
                            <table class="table table-striped table-bordered">
                                <thead>
                                   <tr>
                                        <th></th>
                                        <th style="color:black;text-align:center;">Item Name</th>
                                        <th style="color:black;text-align:center;">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="personalDetail in personalDetails">
                                        <td>
                                            <input type="checkbox" ng-model="personalDetail.selected" />
                                            <a class="btn" aria-label="Close Account Info Modal Box" ng-click="remove(personalDetail)">&times;</a></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="personalDetail.item_name" required/></td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="personalDetail.price" required/></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary addnew pull-center" value="Add New">
                                <input type="button" class="btn btn-primary addnew pull-center" value="Submit" ng-click="insertData()" />
                                   <!-- <input ng-hide="!personalDetails.length" type="button" class="btn btn-danger pull-center" ng-click="remove()" value="Remove"> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>