<div class="intro-message app-login">
	<h3>Login</h3>
    <div ng-show="showLoading" class="loading-spiner-holder" data-loading >
						<div class="loading-spiner">
							<img src="img/loading.gif" />
						</div>
				</div>
    <div>{{is_authenticate}}</div>
        <form name="loginForm" role="form" ng-submit="doLogin()" novalidate>      
            <div>
            <div class="form-login">
            <!--<h3>Login</h3>-->
            <input ng-model="login_data.username" type="text" id="userName" class="form-control input-lg chat-input" placeholder="username" />
            </br>
            <input ng-model="login_data.password" type="password" id="userPassword" class="form-control input-lg chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
				<a ng-click="doLogin()" class="btn btn-block btn-lg btn-red" href="#">Login</a>

            </span>
            </div>
            </div>
        </form>            
        
</div>