<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
      <title>My App</title>
      <!-- Bootstrap Core CSS -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="css/landing-page.css" rel="stylesheet">
   </head>
   <body ng-app="canteenapp">
      <div class="row app-header">
         <div class="text-center">
            <div class="pull-left app-logo">
               <a href="#/">
               <img height="28px" src="img/logo.jpeg"/>
               </a>
            </div>
            Canteen App
            <div class="pull-right app-menu" ng-controller="appmenu">
               <div class="btn-group" dropdown is-open="status.isopen">
                  <a  class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                  <img src="img/menu_icon_dark.png"/>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="m in dropdown_menu">
                        <a ng-if="m.click == '0' " href="#/{{m.href}}">{{m.label}}</a>
                         <a href="javascript:;" ng-if="m.click == '1' " ng-click="logOut()">{{m.label}}</a>
                     </li>
                    
                  </ul>
                </div>
            </div>
         </div>
      </div>
      <!-- Navigation -->
      <div class="intro-header">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">               
                  <div ng-view></div>
               </div>
            </div>
         </div>
         <!-- /.container -->
      </div>
      <!-- Footer -->
      <footer class="footer">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <p class="copyright text-muted small">Copyright &copy; Your Company 2016. All Rights Reserved</p>
               </div>
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="js/angular.min.js"></script>
      <script type="text/javascript" src="js/angular-route.min.js"></script>
      <script type="text/javascript" src="js/cookies.js"></script>
      <script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>
      <script type="text/javascript" src="js/controller.js"></script>
   </body>
</html>